div {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  .task {
    margin-top: 20px;
    padding: 30px;
    width: 700px;
    height: 160px;
    background-color: rgba(240, 240, 0, .6);
    .title {
      color: #000;
      font-weight: bolder;
      font-size: 24px;
      text-transform: uppercase;
      text-indent: 15px;
      margin-left: 0;
    }
    .description{
      color: #000;
      font-size: 16px;
      margin-top: 10px;
      margin-left: 0;
    }
    .date{
      color: #000;
      opacity: .4;
      margin-top: auto;
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}